.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color:#4e3521;

}
.headerTitleSm{
    position: absolute;
    top: 75%;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.headerTitleLg{
    position: absolute;
    top: 60%;
    font-size: 50px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.headerImg{
    width: 100%;
    height: 500px;
    margin-top: -50px;
    object-fit: cover;

}